<div class="btns">
  <button (click)="setShip()">Ship</button>
  <button (click)="setAuto()">Auto</button>
  <button (click)="setPlane()">Plane</button>
</div>
<div [ngSwitch]="info">
  <p *ngSwitchCase="'auto'">Большие габариты имеет автомобиль Caterpillar 797B. Это самая большая машина в мире – она принадлежит к типу карьерных самосвалов. Длина автомонстра равняется почти 15 метрам, при ширине 9,5 метров и высоте около 8 метров. Вес самосвала - рекордные 280 тонн.</p>
  <p *ngSwitchCase="'ship'">Французская верфь Chantiers de l'Atlantique сдала в эксплуатацию самый большой в мире круизный лайнер – «Wonder of the Seas». Заказчик судна – американская круизная компания Royal Caribbean. Длина круизника составляет 362 м, ширина – 64 м, водоизмещение – 236,8 тыс.</p>
  <p *ngSwitchCase="'plane'">Airbus A380, крупнейший серийный авиалайнер в мире (высота 24 метра, длина 73 метра, размах крыла 79 метров). Способен транспортировать 853 пассажира. Может совершать беспосадочные перелеты на расстояние до 15 400 км.</p>
  <p *ngSwitchDefault>Настиніть кнопку</p>
</div>
